<style>
    body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
         }
    table {
        text-align: center;
        width: 400px;
        margin: 1rem auto 0 auto;
        line-height: 1.5;
    }
   </style>